/* using flexbox make the divs appear as a grid of squares */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  /* put the container in the center of the screen with a square border*/


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    padding: 0;
    
  }
  
 
  #container div {
    width: 80px;
    height: 80px;
    
    background-color: lightgray;
  }
  